<div class="to-and-from mb-8 flex max-w-2xl">

    <div class="invoice-to">
        <p class="mb-2"><strong>To:</strong></p>
        <p>${invoice.invoicee_name}</p>
        <p>${invoice.invoicee_address_line_1}</p>
        <p>${invoice.invoicee_address_line_2}</p>
        <p>${invoice.invoicee_city}, ${invoice.invoicee_country}</p>
        <p>${invoice.invoicee_postcode}</p>
    </div>

    <div class="invoice-from ml-auto">
        <p class="mb-2"><strong>From:</strong></p>
        <p>${invoice.invoicer_name}</p>
        <p>${invoice.invoicer_address_line_1}</p>
        <p>${invoice.invoicer_address_line_2}</p>
        <p>${invoice.invoicer_city}, ${invoice.invoicer_country}</p>
        <p>${invoice.invoicer_postcode}</p>
    </div>

</div>


<div class="items max-w-2xl">
    <h3 class="font-bold text-3xl mb-3">Items</h3>

    <div class="item-rows">
        <table class="min-w-full text-left">
            <thead>
                <tr class="font-bold">
                    <th class="text-lg font-medium text-gray-900 px-6 py-4 pl-0 text-left">Description</th>
                    <th class="text-lg font-medium text-gray-900 px-6 py-4 pl-0 text-left">Amount</th>
                    <th class="text-lg font-medium text-gray-900 px-6 py-4 pl-0 text-left">Quantity</th>
                    <th class="text-lg font-medium text-gray-900 px-6 py-4 pl-0 text-left">Total</th>
                </tr>
            </thead>

            <tbody>
                <tr repeat.for="amount of amounts">
                    <td class="px-6 py-4 pl-0 whitespace-nowrap text-sm font-medium text-gray-900">${amount.description}</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 pl-0 whitespace-nowrap">${amount.amount | currency}</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 pl-0 whitespace-nowrap">${amount.qty}</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 pl-0 whitespace-nowrap">${amount.amount * amount.qty | currency}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
