<div class="to-and-from mb-8 flex justify-between max-w-2xl">

    <div class="invoice-to basis-6/12">
        <p class="mb-2"><strong>To:</strong></p>
        <p>${invoice.invoicee_name}</p>
        <p>${invoice.invoicee_address_line_1}</p>
        <p>${invoice.invoicee_address_line_2}</p>
        <p>${invoice.invoicee_city}, ${invoice.invoicee_country}</p>
        <p>${invoice.invoicee_postcode}</p>
    </div>

    <div class="invoice-from basis-6/12">
        <p class="mb-2"><strong>From:</strong></p>
        <p>${invoice.invoicer_name}</p>
        <p>${invoice.invoicer_address_line_1}</p>
        <p>${invoice.invoicer_address_line_2}</p>
        <p>${invoice.invoicer_city}, ${invoice.invoicer_country}</p>
        <p>${invoice.invoicer_postcode}</p>
    </div>

</div>

<div class="items max-w-3xl">
    <h3 class="font-bold text-2xl mb-3">Items</h3>

    <div class="overflow-x-auto relative w-full">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs border-b text-gray-700 uppercase">
                <tr>
                    <th scope="col" class="py-3">Description</th>
                    <th scope="col" class="py-3">Amount</th>
                    <th scope="col" class="py-3">Quantity</th>
                    <th scope="col" class="py-3">Tax %</th>
                    <th scope="col" class="py-3">Discount</th>
                    <th scope="col" class="py-3">Total</th>
                </tr>
            </thead>

            <tbody>
                <tr repeat.for="amount of amounts" class="bg-white border-b hover:bg-gray-50">
                    <td scope="row" class="py-4 font-medium text-gray-900 whitespace-nowrap">${amount.description}</td>
                    <td class="py-4">${amount.amount | currency}</td>
                    <td class="py-4">${amount.qty}</td>
                    <td class="py-4">${amount.tax}</td>
                    <td class="py-4">${amount.discount}</td>
                    <td class="py-4">${amount.amount * amount.qty - amount.discount | currency}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
