<div class="to-and-from mb-8 flex justify-between max-w-2xl">

    <div class="invoice-to basis-6/12">
        <p class="mb-2"><strong>To:</strong></p>
        <p><input type="text" value.bind="invoice.invoicee_name" placeholder="Name"></p>
        <p><input type="text" value.bind="invoice.invoicee_address_line_1" placeholder="Address (line 1)"></p>
        <p><input type="text" value.bind="invoice.invoicee_address_line_2" placeholder="Address (line 2)"></p>
        <p><span contenteditable="true" spellcheck="false" textcontent.bind="invoice.invoicee_city" data-placeholder="City"></span>, <input type="text" value.bind="invoice.invoicee_country" placeholder="Country"></p>
        <p><input type="text" value.bind="invoice.invoicee_postcode" placeholder="Postcode"></p>
    </div>

    <div class="invoice-from basis-6/12">
        <p class="mb-2"><strong>From:</strong></p>
        <p><input type="text" value.bind="invoice.invoicer_name" placeholder="Name"></p>
        <p><input type="text" value.bind="invoice.invoicer_address_line_1" placeholder="Address (line 1)"></p>
        <p><input type="text" value.bind="invoice.invoicer_address_line_2" placeholder="Address (line 2)"></p>
        <p><span contenteditable="true" spellcheck="false" textcontent.bind="invoice.invoicer_city" data-placeholder="City"></span>, <input type="text" value.bind="invoice.invoicer_country" placeholder="Country"></p>
        <p><input type="text" value.bind="invoice.invoicer_postcode" placeholder="Postcode"></p>
    </div>

</div>



<div class="items max-w-2xl">
    <h3 class="font-bold text-3xl mb-3">Items</h3>

    <div class="item-rows">
        <table class="min-w-full text-left align-top table-fixed break-words w-full">
            <thead>
                <tr class="font-bold align-top">
                    <th class="text-lg font-medium text-gray-900 px-6 py-4 pl-0 text-left w-56">Description</th>
                    <th class="text-lg font-medium text-gray-900 px-6 py-4 pl-0 text-left">Amount</th>
                    <th class="text-lg font-medium text-gray-900 px-6 py-4 pl-0 text-left">Quantity</th>
                    <th class="text-lg font-medium text-gray-900 px-6 py-4 pl-0 text-left">Tax %</th>
                    <th class="text-lg font-medium text-gray-900 px-6 py-4 pl-0 text-left">Discount</th>
                    <th class="text-lg font-medium text-gray-900 px-6 py-4 pl-0 text-left">Total</th>
                    <th class="text-lg font-medium text-gray-900 px-6 py-4 pl-0 text-left"><button type="button" click.trigger="createAmountRow()">+</button></th>
                </tr>
            </thead>

            <tbody>
                <tr class="align-top border-b-[1px]" repeat.for="amount of invoice_amounts">
                    <td class="px-6 py-4 pl-0 whitespace-normal text-sm font-medium text-gray-900 w-56" contenteditable="true" spellcheck="false" textcontent.bind="amount.description"></td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 pl-0"><input type="text" value.bind="amount.amount | toNumber"></td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 pl-0"><input type="number" value.bind="amount.qty | toNumber"></td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 pl-0"><input type="number" value.bind="amount.tax | toNumber"></td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 pl-0"><input type="number" value.bind="amount.discount | toNumber"></td>
                    <td colspan="2" class="text-sm text-gray-900 font-light px-6 py-4 pl-0">${amount.amount * amount.qty | currency}</td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="5" class="text-lg font-medium text-gray-900 px-6 py-4 pl-0">Total quantity: ${invoice_amounts.reduce((acc, amount) => acc + amount.qty, 0)}<br>Total amount: ${invoice_amounts.reduce((acc, amount) => acc + (amount.amount * amount.qty), 0) | currency}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="buttons">
        <button type="button" click.trigger="save()">Save</button>
    </div>
</div>
