<div class="to-and-from mb-8 flex justify-between max-w-2xl">

    <div class="invoice-to basis-6/12">
        <p class="mb-2"><strong>To:</strong></p>
        <p><input type="text" value.bind="invoice.invoicee_name" placeholder="Name"></p>
        <p><input type="text" value.bind="invoice.invoicee_address_line_1" placeholder="Address (line 1)"></p>
        <p><input type="text" value.bind="invoice.invoicee_address_line_2" placeholder="Address (line 2)"></p>
        <p><span contenteditable="true" spellcheck="false" textcontent.bind="invoice.invoicee_city" data-placeholder="City"></span>, <input type="text" value.bind="invoice.invoicee_country" placeholder="Country"></p>
        <p><input type="text" value.bind="invoice.invoicee_postcode" placeholder="Postcode"></p>
    </div>

    <div class="invoice-from basis-6/12">
        <p class="mb-2"><strong>From:</strong></p>
        <p><input type="text" value.bind="invoice.invoicer_name" placeholder="Name"></p>
        <p><input type="text" value.bind="invoice.invoicer_address_line_1" placeholder="Address (line 1)"></p>
        <p><input type="text" value.bind="invoice.invoicer_address_line_2" placeholder="Address (line 2)"></p>
        <p><span contenteditable="true" spellcheck="false" textcontent.bind="invoice.invoicer_city" data-placeholder="City"></span>, <input type="text" value.bind="invoice.invoicer_country" placeholder="Country"></p>
        <p><input type="text" value.bind="invoice.invoicer_postcode" placeholder="Postcode"></p>
    </div>

</div>

<div class="items max-w-3xl">
    <h3 class="font-bold text-2xl mb-3">Items</h3>

    <div class="overflow-x-auto relative w-full">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs border-b text-gray-700 uppercase">
                <tr>
                    <th scope="col" class="py-3 pr-3">Description</th>
                    <th scope="col" class="py-3 pr-3">Amount</th>
                    <th scope="col" class="py-3 pr-3">Quantity</th>
                    <th scope="col" class="py-3 pr-3">Tax %</th>
                    <th scope="col" class="py-3 pr-3">Discount</th>
                    <th scope="col" class="py-3 pr-3">Total</th>
                    <th scope="col" class="py-3 pr-3"><button type="button" click.trigger="createAmountRow()">+</button></th>
                </tr>
            </thead>

            <tbody>
                <tr repeat.for="amount of invoice_amounts" class="bg-white border-b hover:bg-gray-50">
                    <td scope="row" class="py-4 font-medium text-gray-900 whitespace-nowrap pr-3"><input type="text" class="block w-full" value.bind="amount.description"></td>
                    <td class="py-4 pr-3"><input type="text" class="w-12" value.bind="amount.amount | toNumber" change.trigger="e => currencyCheck(e)"></td>
                    <td class="py-4 pr-3"><input type="number" class="w-12" value.bind="amount.qty | toNumber" change.trigger="e => currencyCheck(e)"></td>
                    <td class="py-4 pr-3"><input type="number" class="w-12" value.bind="amount.tax | toNumber" change.trigger="e => currencyCheck(e)"></td>
                    <td class="py-4 pr-3"><input type="number" class="w-12" value.bind="amount.discount | toNumber" change.trigger="e => currencyCheck(e)"></td>
                    <td class="py-4 pr-3">${calculateAmount(amount.amount, amount.qty, amount.tax, amount.discount) | currency}</td>
                    <td class="py-4 pr-3"></td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="7" class="text-lg font-medium text-gray-900 px-6 py-4 pl-0">Total quantity: ${invoice_amounts.reduce((acc, amount) => acc + amount.qty, 0)}<br>Total amount: ${invoice_amounts.reduce((acc, amount) => acc + (amount.amount * amount.qty), 0) | currency}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="buttons">
        <button type="button" click.trigger="save()">Save</button>
    </div>
</div>
