<h1>Invoices</h1>

<table>
    <thead>
        <tr>
            <th>Invoice number</th>
            <th>Invoice date</th>
            <th>Due date</th>
            <th>Invoicee</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr repeat.for="invoice of invoices">
            <td>${invoice.id}</td>
            <td>${invoice.created | date}</td>
            <td>${invoice.date | date}</td>
            <td>${invoice.invoicee_name}</td>
            <td>${invoice.amounts.reduce((acc, amount) => acc + (amount.amount * amount.qty), 0) | currency}</td>
            <td><button type="button" class="preview-btn" title="View invoice" load="/invoice/${invoice.id}"></button> <button type="button" class="delete-btn" click.trigger="deleteInvoice(invoice.id)">X</button></td>
        </tr>
    </tbody>
</table>

<!-- <ul>
    <li repeat.for="invoice of invoices">
        <a load="/invoice/${invoice.id}">${invoice.id}</a>
    </li>
</ul> -->
